//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date!= 'Published ' + post.date.toLocaleDateString().split(',').slice(1).join(',')

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="#{data.baseUrl}images/cabin.png")
    link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
    block head
      title= "Theremax"
  body
    .center
      nav.group
        h1.name
          a(href="http://www.thealphanerd.io") Myles Borins
          //- a(href="#www.google.com") Myles Borins
        ul.nav-links
          li.text-link
            a(href="#{data.baseUrl}archives.html") Research
          li.text-link
            a(href="http://www.github.com/thealphanerd/theremax") Source Code
      block content
